/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                                true !default;
$enable-rounded:                              true !default;
$enable-shadows:                              false !default;
$enable-gradients:                            false !default;
$enable-transitions:                          true !default;
$enable-prefers-reduced-motion-media-query:   true !default;
$enable-hover-media-query:                    false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes:                         true !default;
$enable-print-styles:                         true !default;
$enable-validation-icons:                     true !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

$navbar-toggler-padding-y:          0.5rem !default;
$navbar-toggler-padding-x:          0.75rem !default;

$GL_maroon: rgb(145, 138, 140) !default;
$GL_verde:  rgb(109, 151, 149) !default;
$GL_naranja:rgb(185, 83, 23) !default;
$GL_marron: rgb(89, 72, 57) !default;
$GL_rojo:   rgb(174, 60, 78) !default;
$GL_shit:   rgb(172, 135, 0) !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$primary:       $gray-900 !default;
$secondary:     $GL_verde !default;
$success:       $GL_verde !default;
$info:          $GL_naranja !default;
$warning:       $GL_naranja !default;
$danger:        $GL_rojo !default;
$light:         $gray-100 !default;
$dark:          $black !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "gl_maroon":  $GL_maroon,
    "gl_verde":   $GL_verde,
    "glL_naranja": $GL_naranja,
    "gl_marron":  $GL_marron,
    "gl_rojo":    $GL_rojo,
    "gl_shit":    $GL_shit
  ),
  $theme-colors
);

// Links
//
// Style anchor elements.

$link-color:                              theme-color("primary") !default;
$link-decoration:                         none !default;
$link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration:                   underline !default;
// Darken percentage for links with `.text-*` class (e.g. `.text-success`)
$emphasized-link-hover-darken-percentage: 15% !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      Quasimoda, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-serif:           Rion !default;

$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;
// stylelint-enable value-keyword-case

$font-size-base:              1.2rem; //original 1
$font-size-lg:                ($font-size-base * 1.25) !default;
$font-size-sm:                ($font-size-base * 0.875) !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400;
$font-weight-bold:            700 !default;
$font-weight-bolder:          700 !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-margin-bottom:      $spacer !default;

$headings-font-family:        $font-family-serif !default;
$headings-font-weight:        700 !default;
$headings-line-height:        1 !default;
$headings-color:              inherit !default;

$display1-size:               6rem !default;
$display2-size:               5.5rem !default;
$display3-size:               4.5rem !default;
$display4-size:               3.5rem !default;

$display1-weight:             300 !default;
$display2-weight:             300 !default;
$display3-weight:             300 !default;
$display4-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

$lead-font-size:              ($font-size-base * 1.25) !default;
$lead-font-weight:            300 !default;

$small-font-size:             80% !default;

$text-muted:                  $gray-600 !default;

$blockquote-small-color:      $gray-600 !default;
$blockquote-small-font-size:  $small-font-size !default;
$blockquote-font-size:        ($font-size-base * 1.25) !default;

$hr-border-color:             rgba($black, 0.1) !default;

$mark-padding:                0.2em !default;

$dt-font-weight:              $font-weight-bold !default;

$kbd-box-shadow:              inset 0 -0.1rem 0 rgba($black, 0.25) !default;
$nested-kbd-font-weight:      $font-weight-bold !default;

$list-inline-padding:         0.5rem !default;

$mark-bg:                     #fcf8e3 !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

$border-width:                1px !default;
$border-color:                $gray-300 !default;

$border-radius:               0.25rem !default;
$border-radius-lg:            0.3rem !default;
$border-radius-sm:            0.2rem !default;

$rounded-pill:                50rem !default;

$box-shadow-sm:               0 0.125rem 0.25rem rgba($black, 0.075) !default;
$box-shadow:                  0 0.5rem 1rem rgba($black, 0.15) !default;
$box-shadow-lg:               0 1rem 3rem rgba($black, 0.175) !default;

$component-active-color:      $white !default;
$component-active-bg:         theme-color("primary") !default;

$caret-width:                 0.3em !default;

$transition-base:             all 0.2s ease-in-out !default;
$transition-fade:             opacity 0.15s linear !default;
$transition-collapse:         height 0.35s ease !default;

// Cards

$card-spacer-y:                     0.75rem !default;
$card-spacer-x:                     1.25rem !default;
$card-border-width:                 $border-width !default;
$card-border-radius:                0 !default;
$card-border-color:                 rgba($black, 0.125) !default;
$card-inner-border-radius:          calc(#{$card-border-radius} - #{$card-border-width}) !default;
$card-cap-bg:                       rgba($black, 0.03) !default;
$card-cap-color:                    inherit !default;
$card-bg:                           $white !default;

$card-img-overlay-padding:          1.25rem !default;

$card-group-margin:                 $grid-gutter-width / 2 !default;
$card-deck-margin:                  $card-group-margin !default;

$card-columns-count:                3 !default;
$card-columns-gap:                  1.25rem !default;
$card-columns-margin:               $card-spacer-y !default;

$navbar-dark-color:                 $gray-400 !default;
$navbar-dark-hover-color:           $gray-200 !default;
$navbar-dark-active-color:          $white !default;
$navbar-dark-disabled-color:        rgba($white, 0.25) !default;
// hamburguer.svg
// $navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23") !default;
$navbar-dark-toggler-icon-bg:       url("../images/hamburguer.png") !default;
$navbar-dark-toggler-icon-bg-w:       url("../images/hamburguer_black.png") !default;
$navbar-dark-toggler-border-color:  rgba($white, 0.1) !default;

/** Bootstrap navbar fix (https://git.io/fADqW) */
//$navbar-dark-toggler-icon-bg: none;
// $navbar-light-toggler-icon-bg: none;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:                10rem !default;
$dropdown-padding-y:                0.5rem !default;
$dropdown-spacer:                   0.125rem !default;
// $dropdown-bg:                       $black !default;
$dropdown-border-color:             $light;
$dropdown-border-radius:            $border-radius !default;
$dropdown-border-width:             $border-width !default;
$dropdown-inner-border-radius:      calc(#{$dropdown-border-radius} - #{$dropdown-border-width}) !default;
$dropdown-divider-bg:               $gray-200 !default;
$dropdown-box-shadow:               0 0.5rem 1rem rgba($black, 0.175) !default;

// $dropdown-link-color:               $navbar-dark-color !default;
$dropdown-link-hover-color:         $navbar-dark-hover-color !default;
$dropdown-link-hover-bg:            $black !default;

// $dropdown-link-active-color:        $component-active-color !default;
$dropdown-link-active-bg:           $gray-800;

$dropdown-link-disabled-color:      $gray-600 !default;

$dropdown-item-padding-y:           0.25rem !default;
$dropdown-item-padding-x:           1rem !default;

$dropdown-header-color:             $gray-600 !default;

// Figures

// $figure-caption-font-size:          100% !default;
// $figure-caption-color:              $gray-600 !default;
